<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404 Not found</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <header class="center">
        <nav>
            <a class="navb" href="/">Home</a>
            <a class="navb" href="/createNote">Create Note</a>
            <a class="navb" href="/notes">Notes</a>
        </nav>
    </header>
    <nav class="center">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/notes">Notes</a></li>
            <li><a href="/createNote">Create Note</a></li>
        </ul>
    </nav>
    <h1 class="center">Note Not Found... 💩</h1>
</body>
</html>